<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>autocomplete by Vue</title>
		<link rel="stylesheet" type="text/css" href="autocomplete.css">
	</head>
	<body>
		<div id="auto-box">
			<input type="text" v-model="new_input" placeholder="autocomplete" v-on:keyup="auto_change($event)">
			<ul>
				<li is="li-item" v-for="(item,index) in select_content" v-bind:item="item" v-bind:index="index" v-bind:ary="select_content" v-bind:input="new_input" v-on:select="select_li(index)"
				v-on:reset="reset_index" v-on:change="focus_change(index)"></li>
			</ul>
		</div>

		<script src="../vue.js"></script>
		<script src="autocomplete.js"></script>
	</body>
</html>